* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    background-color: green;
    text-align: center;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    align-items: center;
}

main {
    text-align: center;
    flex-direction: column;
}
